<div class="halo-block custom-footer-block" data-halo-load="animation">

        <div class="content text-center p-40-20-tb p-30-10-mb footer-bottom-content">

            <div class="header-line halo-fadeInUp o-h" data-halo-animate="1"></div>

            <h2 class="footer-title main-title f-size-large m-t-24 m-b-24 halo-fadeInUp o-h footer-bottom-title" data-halo-animate="2">
                <span class="d-inline-block">
                    {{lang 'footer.title_bottom'}}
                </span>
            </h2>

            <div class="lorem-text f-size-small l-h-large m-b-40 halo-fadeInUp o-h" data-halo-animate="3">
                <span class="d-inline-block">
                    {{lang 'footer.message1'}}<br><br>
                    {{lang 'footer.message2'}}<br><br>
                    {{lang 'footer.message3'}}
                </span>
            </div>

            <div class="logo halo-fadeInUp o-h m-b-24" data-halo-animate="4">
                <img class="header-logo-image-unknown-size"
                src="{{getImage settings.store_logo.image 'logo_size'}}"
                alt="{{settings.store_logo.title}}"
                title="{{settings.store_logo.title}}"
            >
            </div>

            <div class="copyright halo-fadeInUp o-h m-b-16" data-halo-animate="5">
                <span class="d-inline-block">{{lang 'footer.copyright'}}<a href="https://reggao.fr" class="reggao-link" rel="nofollow">Reggao</a></span>
            </div>

        </div>

</div>
