{{> components/halothemes/footer/halo-service}}

{{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
<footer class="footer" role="contentinfo" data-halo-load="animation">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container container-1600">
        <section class="footer-info">

        {{> components/halothemes/footer/halo-subscribe}}

    {{#if theme_settings.footer_info_1_heading}}
        <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
            <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h">
                <span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_1_heading}}</span>
            </p>
            <ul class="footer-info-list">
                {{! #each (limit categories 6)}}
                    <li class="o-h">
                        <a class="link-line d-inline-block halo-fadeInUp" href="/qui-sommes-nous/" data-halo-animate="2">
                            <span>{{lang 'footer.who'}}</span>
                        </a>
                    </li>
                    <li class="o-h">
                        <a class="link-line d-inline-block halo-fadeInUp" href="/livraison" data-halo-animate="2">
                            <span>{{lang 'footer.shipping'}}</span>
                        </a>
                    </li>
                    <li class="o-h">
                        <a class="link-line d-inline-block halo-fadeInUp" href="/paiement/" data-halo-animate="2">
                            <span>{{lang 'footer.payment'}}</span>
                        </a>
                    </li>
                    <li class="o-h">
                        <a class="link-line d-inline-block halo-fadeInUp" href="/retours/" data-halo-animate="2">
                            <span>{{lang 'footer.returns'}}</span>
                        </a>
                    </li>


                {{!/each}}
            </ul>
        </article>
    {{/if}}
            {{#if theme_settings.footer_info_2_heading}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_2_heading}}</span></p>
                    <ul class="footer-info-list">
                        <!--{{#each (limit pages 5)}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{url}}" data-halo-animate="2"><span>{{name}}</span></a></li>
                        {{/each}}
                        {{#if settings.gift_certificates_enabled}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{urls.gift_certificate.purchase}}" data-halo-animate="2"><span>{{lang 'common.gift_cert'}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.show_page_sitemap}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{urls.sitemap}}" data-halo-animate="2"><span>{{lang 'sitemap.page_title'}}</span></a></li>
                        {{/if}}-->
                        <li class="o-h">
                            <a class="link-line d-inline-block halo-fadeInUp" href="/contact" data-halo-animate="2">
                                <span>{{lang 'footer.contact'}}</span>
                            </a>
                        </li>
                        <li class="o-h">
                            <a class="link-line d-inline-block halo-fadeInUp" href="/account.php?action=order_status" data-halo-animate="2">
                                <span>{{lang 'footer.order_tracking'}}</span>
                            </a>
                        </li>
                        <li class="o-h">
                            <a class="link-line d-inline-block halo-fadeInUp" href="/account.php" data-halo-animate="2">
                                <span>{{lang 'footer.account'}}</span>
                            </a>
                        </li>

                    </ul>
                </article>
            {{/if}}
            {{#if theme_settings.footer_info_3_heading}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_3_heading}}</span></p>
                    <ul class="footer-info-list">
                        {{#if theme_settings.footer_text1}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link1}}" data-halo-animate="2"><span>{{theme_settings.footer_text1}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text2}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link2}}" data-halo-animate="2"><span>{{theme_settings.footer_text2}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text3}}
                            {{#if theme_settings.footer_link3 '==' '/blog/'}}
                                <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="https://hairstore.fr/blog-coiffure/" target="_blank" rel="noopener noreferrer" data-halo-animate="2"><span>{{theme_settings.footer_text3}}</span></a></li>
                            {{else if theme_settings.footer_link3 '==' '/blog-coiffure/'}}
                                <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="https://hairstore.fr/blog-coiffure/" target="_blank" rel="noopener noreferrer" data-halo-animate="2"><span>{{theme_settings.footer_text3}}</span></a></li>
                            {{else if theme_settings.footer_link3 '==' 'https://hairstore.fr/blog-coiffure/'}}
                                <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="https://hairstore.fr/blog-coiffure/" target="_blank" rel="noopener noreferrer" data-halo-animate="2"><span>{{theme_settings.footer_text3}}</span></a></li>
                            {{else}}
                                <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link3}}" data-halo-animate="2"><span>{{theme_settings.footer_text3}}</span></a></li>
                            {{/if}}
                        {{/if}}
                        {{#if theme_settings.footer_text4}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link4}}" data-halo-animate="2"><span>{{theme_settings.footer_text4}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text5}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link5}}" data-halo-animate="2"><span>{{theme_settings.footer_text5}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text6}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link6}}" data-halo-animate="2"><span>{{theme_settings.footer_text6}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text7}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link7}}" data-halo-animate="2"><span>{{theme_settings.footer_text7}}</span></a></li>
                        {{/if}}
                    </ul>
                </article>
            {{/if}}
            {{#and theme_settings.footer_info_4_heading shop_by_brand.length}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                    <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_4_heading}}</span></p>
                    <ul class="footer-info-list">
                        {{#each (limit shop_by_brand 5)}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{url}}" data-halo-animate="2"><span>{{name}}</span></a></li>
                        {{/each}}
                        <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{urls.brands}}" data-halo-animate="2"><span>{{lang 'common.view_all'}}</span></a></li>
                    </ul>
                </article>
            {{/and}}
            {{#or theme_settings.footer_info_5_heading theme_settings.footer_info_5_heading}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-social">
                        {{#if theme_settings.footer_info_5_heading}}
                        <p class="footer-info-heading p-0 f-bold f-size-small-mb o-h footer-payment-title"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_5_heading}}</span></p>
                        <div class="footer-payment-info-text text-center">
                            <p><strong>Le paiement est 100% sécurisé.</strong></p>
                            <p>À aucun moment nous n'avons accès à vos données bancaires.</p>
                            <p>Sur hairStore.pro, vous avez le choix parmi plusieurs moyens de paiement sécurisés pour régler vos commandes en toute sérénité :</p>
                        </div>
                        <div class="footer-social footer-payment-social m-b-32 o-h">
                            <div class="footer-social-wrapper halo-fadeInUp" data-halo-animate="2">
                                {{> components/common/payment-icons}}

                                <div id="DigiCertClickID_rJrKyUK6"></div>


                                <script type="text/javascript">
                                    var __dcid = __dcid || [];
                                    __dcid.push({"cid":"DigiCertClickID_rJrKyUK6","tag":"rJrKyUK6"});
                                    (function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
                                </script>

                            </div>
                        </div>
                        
                    {{/if}}
                </article>
                
            {{/or}}
            
       
        </section>

        <div class="footer-bottom text-center">
            {{> components/common/bottom-footer}}
        </div>
    </div>
    {{{region name="ssl_site_seal--global"}}}

</footer>
