<div class="navPage-subMenu navPage-subMenu-horizontal halo-fadeIn" id="navPages-{{id}}" tabindex="1">
    <div class="container container-1600">
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item-parent navPage-subMenu-item-child navPage-subMenu-title d-none d-block-tb">
                <p class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu">
                    <span class="navPages-action-moreIcon" aria-hidden="true">
                        <svg class="icon"><use xlink:href="#icon-arrow-prev" /></svg>
                    </span>
                    <a class="text" href="{{url}}"><span>{{name}}</span></a>
                </p>
            </li>

            {{!-- Cas spécial pour la catégorie "Marques" --}}
            {{#if @index '==' 0}}
            {{> components/reggao/menu/brand}}

            {{else if name '==' 'Produits de Coiffure'}}
            {{> components/reggao/menu/produits-de-coiffure}}

            {{else}}

                {{assignVar "value" name}}
                {{assignVar "urlValue" url}}
                {{#each children}}
                    <div class="mega-col">
                    <a class="nav-mega-title" href="{{url}}">
                    {{name}}
                </a>


                    {{#if children}}
                        {{#each children}}
                            <a class="nav-mega-subitem link-line{{#if is_active}} activePage{{/if}}" href="{{url}}">
                                <span>{{name}}</span>
                            </a>
                        {{/each}}
                    {{else}}

                    <a class="nav-mega-subitem{{#if is_active}} activePage{{/if}}" href="{{url}}">
                    {{#if name 'Permanentes'}}
                        Toutes les {{name}}
                    {{else}}
                        {{#if name 'Décoloration'}}
                        Toutes les {{name}}
                        {{else}}
                        Tous les {{name}}
                        {{/if}}
                    {{/if}}
                    </a>

                    {{/if}}
                </div>

                {{/each}}

            {{/if}}

        </ul>
    </div>
</div>
