<ul class="socialLinks socialLinks--alt">
    <li class="socialLinks-item">
        <a class="icon icon--x"
           href="{{lang 'social_links.x'}}"
           target="_blank"
           rel="noopener"
           title="X"
        >
            <span class="aria-description--hidden">X</span>
            <svg>
                <use href="#icon-x"/>
            </svg>
        </a>
    </li>
    <li class="socialLinks-item">
        <a class="icon icon--instagram"
           href="{{lang 'social_links.instagram'}}"
           target="_blank"
           rel="noopener"
           title="Instagram"
        >
            <span class="aria-description--hidden">Instagram</span>
            <svg>
                <use href="#icon-instagram"/>
            </svg>
        </a>
    </li>
    <li class="socialLinks-item">
        <a class="icon icon--youtube"
           href="{{lang 'social_links.youtube'}}"
           target="_blank"
           rel="noopener"
           title="YouTube"
        >
            <span class="aria-description--hidden">YouTube</span>
            <svg>
                <use href="#icon-youtube"/>
            </svg>
        </a>
    </li>
    <li class="socialLinks-item">
        <a class="icon icon--facebook"
           href="{{lang 'social_links.facebook'}}"
           target="_blank"
           rel="noopener"
           title="Facebook"
        >
            <span class="aria-description--hidden">Facebook</span>
            <svg>
                <use href="#icon-facebook"/>
            </svg>
        </a>
    </li>
    <li class="socialLinks-item">
        <a class="icon icon--pinterest"
           href="{{lang 'social_links.pinterest'}}"
           target="_blank"
           rel="noopener"
           title="Pinterest"
        >
            <span class="aria-description--hidden">Pinterest</span>
            <svg>
                <use href="#icon-pinterest"/>
            </svg>
        </a>
    </li>
</ul>
