{{#if settings.show_wishlist}}
    <div class="card-wishlist" data-wishlist-add>
        <button class="js-wishlist button button--secondary custom-product-button" data-id="{{id}}" aria-label="Wishlist">
        <svg class="wishlist-icon" width="28" height="28" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                    2 6 3.99 4 6.5 4c1.74 0 3.41 1.01 4.22 2.61
                    C11.09 5.01 12.76 4 14.5 4
                    17.01 4 19 6 19 8.5
                    c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
        <span class="wishlist-text">{{lang 'account.wishlists.add_item'}}</span>
        <svg class="icon wishlist-arrow" role="img" aria-label="{{lang 'account.wishlists.add_item'}}">
            <title>{{lang 'account.wishlists.add_item'}}</title>
            <desc>{{lang 'account.wishlists.add_item'}}</desc>
            <use xlink:href="#icon-arrow-down"></use>
        </svg>
    </button>
        <ul class="wishlist-menu card has-loading haloCustomScrollbar animated--out" data-halo-animate="1">
            <li class="wishlist-item wishlist-add">
                <a class="wishlist" href="/wishlist.php?action=add&product_id={{id}}">
                    <span>{{lang 'account.wishlists.add_to_default'}}</span>
                </a>
            </li>
            <li class="wishlist-item wishlist-create">
                <a href="/wishlist.php?action=addwishlist&product_id={{id}}">
                    <span>{{lang 'account.wishlists.create_new'}}</span>
                </a>
            </li>
            <li class="wishlist-item wishlist-view">
                <a href="/wishlist.php">
                    <span>{{lang 'account.wishlists.view'}}</span>
                </a>
            </li>
        </ul>
    </div>
{{/if}}
