{{#if theme_settings.featuredBrands}}
<div class="halo-block featuredBrands" data-halo-load="animation">
  <div class="container container-1700">
    <div class="halo-block-header center left-mb">
      <h2 class="title o-h featuredBrands__title">
        <span class="text d-inline-block halo-fadeInUp">{{theme_settings.featuredBrands_title}}</span>
      </h2>
      <a href="/brands" class="featuredBrands__viewAll d-inline-block halo-fadeInUp custom-effet-hover">
        {{lang 'brand.all_brands'}}
      </a>
    </div>

    <!-- CARROUSEL MARQUES -->
    <section class="haloSwiper featuredBrandsCarousel pos-relative o-h"
      data-per-view-mob="2"
      data-per-view-tab="4"
      data-per-view-des="7"
      data-swiper-space-tab="20"
      data-swiper-space-des="30"
      data-swiper-loop="true"
      data-swiper-slides-per-group="1"
      data-swiper-nav-tab="true"
      data-swiper-nav-des="true"
      data-rows-mob="1"
      data-rows-tab="1"
      data-rows-des="1"
      data-swiper-centered="false"
    >
      <div class="swiper-wrapper disable-srollbar">

        <!-- 1 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link1}}" aria-label="{{theme_settings.featuredBrands_alt1}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img1}}" alt="{{theme_settings.featuredBrands_alt1}}" />
            </a>
          </div>
        </div>

        <!-- 2 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link2}}" aria-label="{{theme_settings.featuredBrands_alt2}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img2}}" alt="{{theme_settings.featuredBrands_alt2}}" />
            </a>
          </div>
        </div>

        <!-- 3 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link3}}" aria-label="{{theme_settings.featuredBrands_alt3}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img3}}" alt="{{theme_settings.featuredBrands_alt3}}" />
            </a>
          </div>
        </div>

        <!-- 4 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link4}}" aria-label="{{theme_settings.featuredBrands_alt4}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img4}}" alt="{{theme_settings.featuredBrands_alt4}}" />
            </a>
          </div>
        </div>

        <!-- 5 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link5}}" aria-label="{{theme_settings.featuredBrands_alt5}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img5}}" alt="{{theme_settings.featuredBrands_alt5}}" />
            </a>
          </div>
        </div>

        <!-- 6 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link6}}" aria-label="{{theme_settings.featuredBrands_alt6}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img6}}" alt="{{theme_settings.featuredBrands_alt6}}" />
            </a>
          </div>
        </div>

        <!-- 7 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link7}}" aria-label="{{theme_settings.featuredBrands_alt7}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img7}}" alt="{{theme_settings.featuredBrands_alt7}}" />
            </a>
          </div>
        </div>

        <!-- 8 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link8}}" aria-label="{{theme_settings.featuredBrands_alt8}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img8}}" alt="{{theme_settings.featuredBrands_alt8}}" />
            </a>
          </div>
        </div>

        <!-- 9 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link9}}" aria-label="{{theme_settings.featuredBrands_alt9}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img9}}" alt="{{theme_settings.featuredBrands_alt9}}" />
            </a>
          </div>
        </div>

        <!-- 10 -->
        <div class="featuredBrands__item_fr swiper-slide hover-zoom">
          <div class="image o-h b-r-10">
            <a href="{{theme_settings.featuredBrands_link10}}" aria-label="{{theme_settings.featuredBrands_alt10}}">
              <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/{{theme_settings.featuredBrands_img10}}" alt="{{theme_settings.featuredBrands_alt10}}" />
            </a>
          </div>
        </div>

      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev arrow-custom">
        <div class="icon-wrap pos-relative o-h d-flex j-c-center a-i-center w-100 h-100">
          <i class="icon-inner icon-fr w-100 h-100"><svg><use href="#icon-arrow-prev"></use></svg></i>
        </div>
      </div>
      <div class="swiper-button-next arrow-custom">
        <div class="icon-wrap pos-relative o-h d-flex j-c-center a-i-center w-100 h-100">
          <i class="icon-inner icon-fr w-100 h-100"><svg><use href="#icon-arrow-next"></use></svg></i>
        </div>
      </div>
    </section>
  </div>
</div>
{{{region name="home_below_featured_brands_fr"}}}
{{/if}}



