<div class="container container-1700 trustpilot-avis-section m-t-mobile-60" data-halo-load="animation">
  <div class="halo-block-header center o-h">
    <h2 class="title d-inline-block halo-fadeInUp">VOS AVIS COMPTENT</h2>
  </div>



<!-- TrustBox widget - Slider -->
<div class="trustpilot-widget" data-locale="fr-FR" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="505da0a400006400051bc785" data-style-height="240px" data-style-width="100%" data-token="443c009e-4d76-4c4d-92b4-43ed57b53282" data-stars="1,2,3,4,5" data-review-languages="fr">
  <a href="https://fr.trustpilot.com/review/hairstore.fr" target="_blank" rel="noopener nofollow">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
</div>

{{{region name="home_below_featured_category2"}}}
