{{#compare settings.channel_id theme_settings.pro_channel}}

  <div class="card-text m-b-8 f-root price-color" data-test-info-type="price">
    {{#or customer (unless settings.hide_price_from_guests)}}
      <div class="price-wrapper">

        {{#if price.rrp_with_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{money (divide price.rrp_with_tax.value 1.2)}} HT
          </span>
        {{else if price.rrp_without_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{price.rrp_without_tax.formatted}} HT
          </span>
        {{else if price.non_sale_price_with_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{money (divide price.non_sale_price_with_tax.value 1.2)}} HT
          </span>
        {{else if price.non_sale_price_without_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{price.non_sale_price_without_tax.formatted}} HT
          </span>
        {{else if price.price_range.max.with_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{money (divide price.price_range.max.with_tax.value 1.2)}} HT
          </span>
        {{else if price.price_range.max.without_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{price.price_range.max.without_tax.formatted}} HT
          </span>
        {{else if price.price_range.min.with_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{money (divide price.price_range.min.with_tax.value 1.2)}} HT
          </span>
        {{else if price.price_range.min.without_tax}}
          <span data-product-rrp-price-without-tax class="price price--rrp">
              {{price.price_range.min.without_tax.formatted}} HT
          </span>
        {{/if}}

        {{#if price.without_tax}}
          <span class="price price--withoutTax" data-value-price="{{price.without_tax.formatted}}">
              {{price.without_tax.formatted}} HT
          </span>
        {{else if price.with_tax}}
          <span class="price price--withoutTax">
              {{money (divide price.with_tax.value 1.2)}} HT
          </span>
        {{else if price.price_range.max.with_tax}}
          <span class="price price--withoutTax">
              {{money (divide price.price_range.max.with_tax.value 1.2)}} HT
          </span>
        {{else if price.price_range.max.without_tax}}
          <span class="price price--withoutTax" data-value-price="{{price.price_range.max.without_tax.formatted}}">
              {{price.price_range.max.without_tax.formatted}} HT
          </span>
        {{else if price.price_range.min.with_tax}}
          <span class="price price--withoutTax">
              {{money (divide price.price_range.min.with_tax.value 1.2)}} HT
          </span>
        {{else if price.price_range.min.without_tax}}
          <span class="price price--withoutTax" data-value-price="{{price.price_range.min.without_tax.formatted}}">
              {{price.price_range.min.without_tax.formatted}} HT
          </span>
        {{/if}}  

      </div>
    {{else}}
      <a href="/login.php" class="login-price-link">
          {{> components/common/login-for-pricing}}
      </a>
    {{/or}}

    {{#if price.rrp_with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.rrp_with_tax.value price.with_tax.value) 100) price.rrp_with_tax.value)}}%
        </div>
      {{else if price.price_range.max.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.rrp_with_tax.value price.price_range.max.with_tax.value) 100) price.rrp_with_tax.value)}}%
        </div>
      {{else if price.price_range.min.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.rrp_with_tax.value price.price_range.min.with_tax.value) 100) price.rrp_with_tax.value)}}%
        </div>
      {{/if}}
    {{else if price.non_sale_price_with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.non_sale_price_with_tax.value price.with_tax.value) 100) price.non_sale_price_with_tax.value)}}%
        </div>
      {{else if price.price_range.max.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.non_sale_price_with_tax.value price.price_range.max.with_tax.value) 100) price.non_sale_price_with_tax.value)}}%
        </div>
      {{else if price.price_range.min.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.non_sale_price_with_tax.value price.price_range.min.with_tax.value) 100) price.non_sale_price_with_tax.value)}}%
        </div>
      {{/if}}
    {{else if price.price_range.max.with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.max.with_tax.value price.with_tax.value) 100) price.price_range.max.with_tax.value)}}%
        </div>
      {{else if price.price_range.min.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.max.with_tax.value price.price_range.min.with_tax.value) 100) price.price_range.max.with_tax.value)}}%
        </div>
      {{/if}}
    {{else if price.price_range.min.with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.min.with_tax.value price.with_tax.value) 100) price.price_range.min.with_tax.value)}}%
        </div>
      {{else if price.price_range.max.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.min.with_tax.value price.price_range.max.with_tax.value) 100) price.price_range.min.with_tax.value)}}%
        </div>
      {{/if}}
    {{/if}}
  </div>

{{else}}

  <div class="card-text m-b-8 f-root price-color" data-test-info-type="price">
    {{#or customer (unless settings.hide_price_from_guests)}}
      <div class="price-wrapper">

        {{#if price.non_sale_price_with_tax}}
          <span data-product-rrp-price-with-tax class="price price--rrp">
              {{price.non_sale_price_with_tax.formatted}}
          </span>
        {{else if price.rrp_with_tax}}
          <span data-product-rrp-price-with-tax class="price price--rrp">
              {{price.rrp_with_tax.formatted}}
          </span>
        {{else if price.price_range.max.with_tax}}
          <span data-product-rrp-price-with-tax class="price price--rrp">
              {{price.price_range.max.with_tax.formatted}}
          </span>
        {{else if price.price_range.min.with_tax}}
          <span data-product-rrp-price-with-tax class="price price--rrp">
              {{price.price_range.min.with_tax.formatted}}
          </span>
        {{/if}}

        {{#if price.with_tax}}
          <span class="price price--withTax" data-value-price="{{price.with_tax.formatted}}">
              {{price.with_tax.formatted}} 
          </span>
        {{else if price.price_range.max.with_tax}}
          <span class="price price--withTax">
              {{price.price_range.max.with_tax.formatted}}
          </span>
        {{else if price.price_range.min.with_tax}}
          <span class="price price--withTax">
              {{price.price_range.min.with_tax.formatted}}
          </span>
        {{/if}}  

      </div>
    {{else}}
      <a href="/login.php" class="login-price-link">
          {{> components/common/login-for-pricing}}
      </a>
    {{/or}}

    {{#if price.rrp_with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.rrp_with_tax.value price.with_tax.value) 100) price.rrp_with_tax.value)}}%
        </div>
      {{else if price.price_range.max.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.rrp_with_tax.value price.price_range.max.with_tax.value) 100) price.rrp_with_tax.value)}}%
        </div>
      {{else if price.price_range.min.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.rrp_with_tax.value price.price_range.min.with_tax.value) 100) price.rrp_with_tax.value)}}%
        </div>
      {{/if}}
    {{else if price.non_sale_price_with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.non_sale_price_with_tax.value price.with_tax.value) 100) price.non_sale_price_with_tax.value)}}%
        </div>
      {{else if price.price_range.max.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.non_sale_price_with_tax.value price.price_range.max.with_tax.value) 100) price.non_sale_price_with_tax.value)}}%
        </div>
      {{else if price.price_range.min.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.non_sale_price_with_tax.value price.price_range.min.with_tax.value) 100) price.non_sale_price_with_tax.value)}}%
        </div>
      {{/if}}
    {{else if price.price_range.max.with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.max.with_tax.value price.with_tax.value) 100) price.price_range.max.with_tax.value)}}%
        </div>
      {{else if price.price_range.min.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.max.with_tax.value price.price_range.min.with_tax.value) 100) price.price_range.max.with_tax.value)}}%
        </div>
      {{/if}}
    {{else if price.price_range.min.with_tax}}
      {{#if price.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.min.with_tax.value price.with_tax.value) 100) price.price_range.min.with_tax.value)}}%
        </div>
      {{else if price.price_range.max.with_tax}}
        <div class="promo-card">
          - {{round (divide (multiply (subtract price.price_range.min.with_tax.value price.price_range.max.with_tax.value) 100) price.price_range.min.with_tax.value)}}%
        </div>
      {{/if}}
    {{/if}}
  </div>

{{/compare}}
