<li class="navPage-subMenu-item-child custom-brand-menu">
                    <div class="navPage-subMenu-action navPages-action">
                        <div class="custom-marques-row">
                            <div class="brand-box">
                                <a href="{{lang 'brand_menu.brand_link1'}}">
                                    <img src="https://cdn11.bigcommerce.com/s-892y3b6fw//content/hairstorepro/images/home/brands/schwarzkopf_brands.jpg" />
                                </a>
                            </div>
                            <div class="brand-box">
                                <a href="{{lang 'brand_menu.brand_link2'}}">
                                    <img src="https://cdn11.bigcommerce.com/s-892y3b6fw/content/hairstorepro/images/home/brands/wella_brands.jpg"/>
                                </a>
                            </div>
                            <div class="brand-box">
                                <a href="{{lang 'brand_menu.brand_link3'}}">
                                    <img src="https://cdn11.bigcommerce.com/s-892y3b6fw/content/hairstorepro/images/home/brands/l-oreal_brands.jpg" />
                                </a>
                            </div>
                            <div class="brand-box">
                                <a href="{{lang 'brand_menu.brand_link4'}}">
                                    <img src="https://cdn11.bigcommerce.com/s-892y3b6fw/content/hairstorepro/images/home/brands/eugene-perma.png" />
                                </a>
                            </div>
                            <div class="brand-box">
                                <a href="{{lang 'brand_menu.brand_link5'}}">
                                    <img src="https://cdn11.bigcommerce.com/s-892y3b6fw/content/hairstorepro/images/home/brands/Swissliss_brands.png"/>
                                </a>
                            </div>
                            <div class="brand-box">
                                <a href="{{lang 'brand_menu.brand_link6'}}">
                                    <img src="https://cdn11.bigcommerce.com/s-892y3b6fw/content/hairstorepro/images/home/brands/good-hair-day.webp"/>
                                </a>
                            </div>
                        </div>
                        <div class="custom-brand-list">
                        <div class="brand-col">
                            <div class="brand-letter-block">
                            <div class="letter">A</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.A_brand1_link'}}">
                                    <span>{{lang 'brand_menu.A_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.A_brand2_link'}}">
                                    <span>
                                    {{lang 'brand_menu.A_brand2'}}
                                    <em class="premium">({{lang 'brand_menu.premium'}})</em>
                                    </span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">C</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.C_brand1_link'}}">
                                    <span>{{lang 'brand_menu.C_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.C_brand2_link'}}">
                                    <span>{{lang 'brand_menu.C_brand2'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">D</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.D_brand1_link'}}">
                                    <span>{{lang 'brand_menu.D_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.D_brand2_link'}}">
                                    <span>{{lang 'brand_menu.D_brand2'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">E</div>
                            <div class="separator"></div>
                            <ul>
                                {{!--
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.E_brand1_link'}}">
                                    <span>{{lang 'brand_menu.E_brand1'}}</span>
                                </a>
                                </li>
                                --}}
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.E_brand2_link'}}">
                                    <span>{{lang 'brand_menu.E_brand2'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">F</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.F_brand1_link'}}">
                                    <span>{{lang 'brand_menu.F_brand1'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">G</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.G_brand1_link'}}">
                                    <span>{{lang 'brand_menu.G_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.G_brand2_link'}}">
                                    <span>{{lang 'brand_menu.G_brand2'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">H</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.H_brand1_link'}}">
                                    <span>{{lang 'brand_menu.H_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.H_brand2_link'}}">
                                    <span>{{lang 'brand_menu.H_brand2'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>
                        </div>

                        <div class="brand-col">
                            <div class="brand-letter-block">
                            <div class="letter">K</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.K_brand1_link'}}">
                                    <span>{{lang 'brand_menu.K_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.K_brand2_link'}}">
                                    <span>{{lang 'brand_menu.K_brand2'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.K_brand3_link'}}">
                                    <span>
                                    {{lang 'brand_menu.K_brand3'}}
                                    <em class="premium">({{lang 'brand_menu.premium'}})</em>
                                    </span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.K_brand4_link'}}">
                                    <span>{{lang 'brand_menu.K_brand4'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.K_brand5_link'}}">
                                    <span>{{lang 'brand_menu.K_brand5'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">L</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.L_brand1_link'}}">
                                    <span>{{lang 'brand_menu.L_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.L_brand2_link'}}">
                                    <span>{{lang 'brand_menu.L_brand2'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.L_brand3_link'}}">
                                    <span>{{lang 'brand_menu.L_brand3'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">M</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.M_brand4_link'}}">
                                    <span>{{lang 'brand_menu.M_brand4'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.M_brand1_link'}}">
                                    <span>{{lang 'brand_menu.M_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.M_brand2_link'}}">
                                    <span>
                                    {{lang 'brand_menu.M_brand2'}}
                                    <em class="premium">({{lang 'brand_menu.premium'}})</em>
                                    </span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.M_brand3_link'}}">
                                    <span>{{lang 'brand_menu.M_brand3'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">N</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.N_brand1_link'}}">
                                    <span>{{lang 'brand_menu.N_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.N_brand2_link'}}">
                                    <span>{{lang 'brand_menu.N_brand2'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">O</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.O_brand1_link'}}">
                                    <span>{{lang 'brand_menu.O_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.O_brand2_link'}}">
                                    <span>{{lang 'brand_menu.O_brand2'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">P</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.P_brand2_link'}}">
                                    <span>{{lang 'brand_menu.P_brand2'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.P_brand1_link'}}">
                                    <span>{{lang 'brand_menu.P_brand1'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>
                        </div>

                        <div class="brand-col">
                            <div class="brand-letter-block">
                            <div class="letter">R</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.R_brand1_link'}}">
                                    <span>{{lang 'brand_menu.R_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.R_brand2_link'}}">
                                    <span>
                                    {{lang 'brand_menu.R_brand2'}}
                                    <em class="premium">({{lang 'brand_menu.premium'}})</em>
                                    </span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.R_brand3_link'}}">
                                    <span>{{lang 'brand_menu.R_brand3'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">S</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand1_link'}}">
                                    <span>{{lang 'brand_menu.S_brand1'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand2_link'}}">
                                    <span>{{lang 'brand_menu.S_brand2'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand3_link'}}">
                                    <span>
                                        {{lang 'brand_menu.S_brand3'}}
                                        <em class="premium">({{lang 'brand_menu.premium'}})</em>
                                        </span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand4_link'}}">
                                    <span>{{lang 'brand_menu.S_brand4'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand5_link'}}">
                                    <span>{{lang 'brand_menu.S_brand5'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand6_link'}}">
                                    <span>{{lang 'brand_menu.S_brand6'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand7_link'}}">
                                    <span>{{lang 'brand_menu.S_brand7'}}</span>
                                </a>
                                </li>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.S_brand8_link'}}">
                                    <span>
                                        {{lang 'brand_menu.S_brand8'}}
                                        <em class="premium">({{lang 'brand_menu.premium'}})</em>
                                        </span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">T</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.T_brand1_link'}}">
                                    <span>{{lang 'brand_menu.T_brand1'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">V</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.V_brand1_link'}}">
                                    <span>{{lang 'brand_menu.V_brand1'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">W</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.W_brand1_link'}}">
                                    <span>{{lang 'brand_menu.W_brand1'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>

                            <div class="brand-letter-block">
                            <div class="letter">Z</div>
                            <div class="separator"></div>
                            <ul>
                                <li>
                                <a class="link-line" href="{{lang 'brand_menu.Z_brand1_link'}}">
                                    <span>{{lang 'brand_menu.Z_brand1'}}</span>
                                </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                        </div>

                    </div>
                </li>
